.idea/
.vscode/
.DS_Store

# Editor temp files
*~
\#*#

# skip dirs
**/output
**/bin
**/tmp


# skip .out files (coverage tests)
*.out

# skip files used locally that cannot be commited
**/mongo-query-join-results-prod.json
*ivs_registry.*.json
