.idea/
.vscode/
.DS_Store

# Editor temp files
*~
\#*#

# skip dirs
**/output
**/bin
**/tmp


# skip .out files (coverage tests)
*.out

# ignore json reports generate locally in the testdata reports
**bundles_*.json

# skip files used locally that cannot be commited
**/testdata/reports/**/validator/**
