####################################################################
# The following report list all package names versus their found mongo DB association id (PackageName : MongoDB Association),
# as a helper for IVs images are able to notify their authors.
# Image name: {{ .ImageData.ImageName }}
# Image ID: {{ .ImageData.ImageID }}
# Image Created at: {{ .ImageData.ImageBuild }}
# From JSON report generated at: {{ .ImageData.GeneratedAt }}
####################################################################
{{ with .Items }}{{ range . }}- {{ .PackageName }} : {{ .Association }}
{{ end }}{{ end }}
