##############################################
# - The following results were obtained programmatically from:
# - Image name: {{ .APIDashReport.ImageName }}
# - Image ID: {{ .APIDashReport.ImageID }}
# - Image Created at: {{ .APIDashReport.ImageBuild }}
# - From JSON report generated at: {{ .APIDashReport.GeneratedAt }}
##############################################
{{ with .Deprecated }}{{ range . }}{{ .PackageName }}:{{ with .Bundles }}{{ range . }}
    # Bundle: {{ .Details }} : Package has distributions compatible with 4.9
    - {{ .Paths }}{{ end }}{{ end }}
{{ end }}{{ end }}