<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Multiple Architectures Dashboard</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <style>
        div.dataTables_wrapper {
            width: 99%;
            margin: 0 auto;
        }

        table.minimalistBlack {
            border: 1px solid #000000;
        }
        table.minimalistBlack td, table.minimalistBlack th {
            border: 1px solid #000000;
            font-size: 10px;
            text-align: left;
        }
        table.minimalistBlack tbody td {
            font-size: 10px;
        }
        table.minimalistBlack thead {
            border-bottom: 1px solid #000000;
            text-align: center;
        }
        table.minimalistBlack thead th {
            font-size: 12px;
            color: white;
            text-align: center;
        }

        .themed-container {
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: #F0F0F0;
            border: 1px solid #0D0C0C;
        }
    </style>


</head>
<body class="py-4">

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script >

    $(document).ready(function() {
        $('#unsupported').DataTable( {
            "scrollX": true
        } );
    } );

   $(document).ready(function() {
        $('#supportedWithErrors').DataTable( {
            "scrollX": true
        } );
    } );

   $(document).ready(function() {
        $('#supportedOK').DataTable( {
            "scrollX": true
        } );
    } );

     $(document).ready(function() {
        $('#supportedWithWarnings').DataTable( {
            "scrollX": true
        } );
    } );

</script>

<main>

        <h1>Multiple Architectures Dashboard</h1>
        <p>The audit tool output for the following packages was obtained by checking the image and the bundle manifests
        distributed. This report aims to identify the package distributions and validates the bundle against criteria to
        support Multiple Architectures. For further information check:
        <a href="https://olm.operatorframework.io/docs/advanced-tasks/ship-operator-supporting-multiarch/">here</a>.</p>
        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">Data from the image used</h5>
            <ul>
                <li>Image Name: {{ .ImageName }} </li>
                <li>Image ID: {{ .ImageID }} </li>
                <li>Image Created at: {{ .ImageBuild }} </li>
                <li>From the JSON report generated on: {{ .GeneratedAt }} </li>
            </ul>
        </div>

        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">FAQ</h5>
            <h5 class="display-12 fw-bold">1. How does it work?</h5>
            <div class="mb-3">
              The audit tool inspects ($ docker manifest inspect) the images in the CSV and then:
              <ul>
                <li> raises an error(s) when the images available do not match the platforms defined in the CSV labels.</li>
                <li> raises a warning when the Operator manager image(s) supports one or more platforms not defined in the CSV labels. This suggests the labels may be missing.</li>
                <li> raises a warning when an image defined in the CSV does not support the same platform(s) supported by the Operator manager image(s) or defined via the CSV labels.</li>
                <li> raises a warning when an image defined in the CSV does not specify node affinity requirements for the platforms supported by the image.</li>
              </ul>
            </div>

            <div class="mb-3">
              <h5 class="display-12 fw-bold">2. What is checked?</h5>
              Note: In this check, the audit tool aggregates the platforms (`OS/architecture` pairs) provided via the labels and those which are found by inspecting the images so that we can check:
              <ul>
                <li> if your CSV is missing labels.</li>
                <li> if your Operator bundle declares images that do not support all platforms found for your Operator image(s) (which indicates the intended platforms supported by your project).</li>
              </ul>
              <p>Note: To detect when authors may have missed one or more labels, the following check will verify that all platforms declared are supported by the Operator
            image(s). However, by looking at the CSV we are not able to automatically detect the Operator image because this information is not explicitly provided. </p>
            </div>

            <div class="mb-3">
              <h6 class="display-12 fw-bold">How is the Operator image(s) identified? </h6>
              <ol>
                <li> The audit tool scans for a container named manager, the OperatorSDK default, under the CSV Deployment InstallStrategy (`Spec.InstallStrategy.StrategySpec.DeploymentSpecs`). </li>
                <li> If the above image is not found then all images under the InstallStrategy are used, excluding a container named `kube-rbac-proxy` since it is also scaffolded by default. </li>
              </ol>
            </div>
            
            <div class="mb-3">
              <h6 class="display-12 fw-bold">What is node affinity?</h6>
              <ul>
                <li> Node affinity is a PodSpec-defined scheduling requirement that can be used to ensure that pods never try to schedule images to a node of an incompatible platform type. </li>
                <li> It is a best practice for authors to set node affinity requirements to match the platforms supported by the underlying images when possible. </li>
                <li> You can learn more about node affinity in the <a href="https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/">Kubernetes documentation</a>.</li>
              </ul>
            </div>
        </div>

        <div class="container-fluid themed-container" style="background-color: #00b3b3">
        <h5 class="display-12 fw-bold">Multiple Architectures Unsupported </h5>
        <p> The following packages only support the platform `linux/amd64` (`OS/architecture`). These solutions will not be available in multi-arch compute clusters
        if one or more nodes of a matching platform type are not available. </p>
        <table id="unsupported" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .Unsupported }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>
                    <div class="container-fluid themed-container">
                    <table id="Unsupported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                        <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Images Inspected</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-unsupported-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-unsupported-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .ManagerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #E1E100">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported with Warnings</h5>
        <p> The following packages support multiple architectures but warnings were found, indicating they may not be following best practices.</p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> Check if your bundle CSV is not missing the labels. </li>
        <li> Ensure that each image specifies node affinity for the platforms it supports. </li>
        <table id="supportedWithWarnings" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .SupportedWithWarnings }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                            <th align="center">Warnings</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-images-warn-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-warn-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .ManagerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-warn-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-warn-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Warnings }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #e68a00">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported with Errors</h5>
        <p> The following packages support multiple architectures but errors were found, indicating there may be one or more misconfigurations. </p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> Ensure that all images specified in the CSV support all of the platforms defined via the labels. </li>
        <li> Check the Warnings to know if the platforms supported match the platforms supported by the Operator manager image(s). </li>
        <table id="supportedWithErrors" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .SupportedWithErrors }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                            <th align="center">Errors</th>
                            <th align="center">Warnings</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-images-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .ManagerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-with-errors-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-with-errors-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Errors }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-with-errors-warnings-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-with-errors-warnings-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Warnings }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #00cc66">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported and OK</h5>
        <p> The following packages support multiple architectures and no errors were found.</p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> Ensure that the operator supports all relevant architectures (amd64, arm64, ppc64le, s390x). </li>
        <table id="supportedOK" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .Supported }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImagesOK(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImagesOK('show-images-ok-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-ok-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .ManagerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>
</main>
</body>
</html>
