<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Multiple Architectures Dashboard</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <style>
        div.dataTables_wrapper {
            width: 99%;
            margin: 0 auto;
        }

        table.minimalistBlack {
            border: 1px solid #000000;
        }
        table.minimalistBlack td, table.minimalistBlack th {
            border: 1px solid #000000;
            font-size: 10px;
            text-align: left;
        }
        table.minimalistBlack tbody td {
            font-size: 10px;
        }
        table.minimalistBlack thead {
            border-bottom: 1px solid #000000;
            text-align: center;
        }
        table.minimalistBlack thead th {
            font-size: 12px;
            color: white;
            text-align: center;
        }

        .themed-container {
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: #F0F0F0;
            border: 1px solid #0D0C0C;
        }
    </style>


</head>
<body class="py-4">

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script >

    $(document).ready(function() {
        $('#unsupported').DataTable( {
            "scrollX": true
        } );
    } );

   $(document).ready(function() {
        $('#supportedWithErrors').DataTable( {
            "scrollX": true
        } );
    } );

   $(document).ready(function() {
        $('#supportedOK').DataTable( {
            "scrollX": true
        } );
    } );

     $(document).ready(function() {
        $('#supportedWithWarnings').DataTable( {
            "scrollX": true
        } );
    } );

</script>

<main>

        <h1>Multiple Architectures Dashboard</h1>
        <p>The audit tool output for the following packages were obtained by checking the image and the bundle manifests
        distributed. This report aims to try to identify the package distributions that validates the bundle against
        criteria to support Multiple Architectures. For further information check:
        <a href="https://olm.operatorframework.io/docs/advanced-tasks/ship-operator-supporting-multiarch/">here</a>.</p>
        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">Data from the image used</h5>
            <ul>
                <li>Image name: {{ .ImageName }} </li>
                <li>Image ID: {{ .ImageID }} </li>
                <li>Image Created at: {{ .ImageBuild }} </li>
                <li>From JSON report generated at: {{ .GeneratedAt }} </li>
            </ul>
        </div>

        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">FAQ</h5>
            <h5 class="display-12 fw-bold">1. How it works?</h5>
            <p> The images are inspect ($docker manifest inspect) and then: </p>
            <li> raise a error(s) when is possible to confirm that images does not provide the support defined via to the labels on the CSV </li>
            <li> raise a warning when it is possible to check that the Operator manager image(s) supports architecture(s) not defined via labels. Therefore, it shows like the labels are missing.</li>
            <li> raise warnings when is possible to verify that the images defined in the CSV does not provide the same architecture(s) supported by the Operator manager image(s) or defined via the labels </li>

            <h5 class="display-12 fw-bold">2. What is checked?</h5>
            <p>Note: On this check, we aggregate the archetype(s) and OS(s) provided via the labels and those which are found by checking the images so that, we can check:</p>
            <li> If your CSV is missing labels</li>
            <li> If your Operator bundle specifies images which does not supports all archetypes found for your Operator image(s) (probably supported by your project) </li>
            <p>Note: To better guess the case scenarios where authors might missed the labels the following check will
            verify all architectures support for the Operator image(s). However, by looking at the CSV we are not able to ensure what is
            the Operator image because this info is not provided. Therefore, we know by SDK the Operator image container will be called manager. </p>
            <h5 class="display-12 fw-bold"> How the Operator image(s) are identified? </h5>
            <li> The container named as manager under the CSV Deployment InstallStrategy (`Spec.InstallStrategy.StrategySpec.DeploymentSpecs`)</li>
            <li> And if the above not found, all images under the InstallStrategy excluding the a container named as ` kube-rbac-proxy` since it is also scaffolded by default </li>
        </div>

        <div class="container-fluid themed-container" style="background-color: #00b3b3">
        <h5 class="display-12 fw-bold">Multiple Architectures Unsupported </h5>
        <p> Following the packages which the only supports the SO linux and the architecture amd64. This solutions are not available for heterogeneous support. </p>
        <table id="unsupported" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .Unsupported }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>
                    <div class="container-fluid themed-container">
                    <table id="Unsupported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                        <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Images Inspected</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-unsupported-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-unsupported-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .MangerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #E1E100">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported with Warnings</h5>
        <p> Following the packages which might supports multiple architectures and warnings were found </p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> Check if your bundle CSV is not missing the labels </li>
        <table id="supportedWithWarnings" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .SupportedWithWarnings }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                            <th align="center">Warnings</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-images-warn-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-warn-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .MangerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-warn-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-warn-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Warnings }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #e68a00">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported with Errors</h5>
        <p> Following the packages which might supports multiple architectures and errors were found </p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> Ensure that you provide all images specified in the CSV supports all architecture defined via the labels </li>
        <li> Check the Warnings to know if you are not or could not supporting architectures supported by the Operator manager image(s)</li>
        <table id="supportedWithErrors" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .SupportedWithErrors }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                            <th align="center">Errors</th>
                            <th align="center">Warnings</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImages(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImages('show-images-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .MangerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-with-errors-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-with-errors-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Errors }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowValidations(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowValidations('show-with-errors-warnings-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-with-errors-warnings-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .Warnings }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>

        <div class="container-fluid themed-container" style="background-color: #00cc66">
        <h5 class="display-12 fw-bold">Multiple Architectures Supported and OK</h5>
        <p> Following the packages which supports multiple architectures and no errors were found </p>
        <h8 class="display-12 fw-bold"> Actions Required: </h8>
        <li> - Ensure that you support all architectures if not yet (amd64, arm64, ppc64le, s390x) </li>
        <table id="supportedOK" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Bundles Details</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
            {{ with .Supported }}
                {{ range . }}
                <tr>
                    <th>{{ .Name }}</th>
                    <th>

                    <div class="container-fluid themed-container">
                    <table id="Supported-{{ .Name }}" class="minimalistBlack" style="width: 100%">
                        <thead>
                            <tr style="background-color: #004C99;">
                            <th align="center">Bundle Name</th>
                            <th align="center">Arch(s) found</th>
                            <th align="center">OS found</th>
                            <th align="center">Labels (CSV)</th>
                            <th align="center">Images Inspected</th>
                        </tr>
                        </thead>
                      <tbody>
                      {{ with .Bundles }}
                            {{ range . }}
                            <tr>
                                <th>{{ .BundleData.BundleCSV.Name }} </th>
                                <th>
                                {{ range $k, $v := .AllArchFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range $k, $v := .AllOsFound }}
                                    <li>{{ $k }} </li>
                                {{ end }}
                                </th>
                                <th>
                                {{ range .InfraLabelsUsed }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </th>
                                <th>
                                <script>
                                    function myFunctionShowImagesOK(value) {
                                      var x = document.getElementById(value);
                                      if (x.style.display === "none") {
                                        x.style.display = "block";
                                      } else {
                                        x.style.display = "none";
                                      }
                                    }
                                </script>
                                <div align="center">
                                    <button align="center" onclick="myFunctionShowImagesOK('show-images-ok-{{ .ForHideButton}}')">Show Details</button>
                                </div>
                                <div id="show-images-ok-{{ .ForHideButton}}" style="display: none;">
                                   {{ range .MangerImage }}
                                        <li style="color: orange">{{ . }}</li>
                                   {{ end }}
                                   {{ range .Images }}
                                        <li>{{ . }}</li>
                                   {{ end }}
                                </div>
                                </th>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                    </div>
                    </th>
                </tr>
                {{ end }}
            {{ end }}
            </tbody>
         </table>
        </div>
</main>
</body>
</html>
