<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Projects QA Dashboard</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <style>
        div.dataTables_wrapper {
            width: 98%;
            margin: 0 auto;
        }

        table.minimalistBlack {
            border: 3px solid #000000;
        }
        table.minimalistBlack td, table.minimalistBlack th {
            border: 1px solid #000000;
            font-size: 12px;
            text-align: left;
        }
        table.minimalistBlack tbody td {
            font-size: 12px;
        }
        table.minimalistBlack thead {
            border-bottom: 3px solid #000000;
            text-align: center;
        }
        table.minimalistBlack thead th {
            font-size: 15px;
            color: white;
            text-align: center;
        }

        .themed-container {
            padding: .75rem;
            margin-bottom: 1.5rem;
            background-color: #F0F0F0;
            border: 1px solid #0D0C0C;
        }
    </style>


</head>
<body class="py-4">

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script >

    $(document).ready(function() {
        $('#grade').DataTable( {
            "scrollX": true
        } );
    } );

</script>

<main>

        <h1>Projects QA </h1>
        <p>Following the packages and its finding(s) obtained by checking the image and the bundle manifests distributed on it. This report aims to try to identify some define QA criteria for the packages. Note that only the head of channels are checked which means that this report has the purpose the evaluate the latest distributions only.</p>

        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">Data from the image used</h5>
            <ul>
                <li>Image name: {{ .ImageName }} </li>
                <li>Image ID: {{ .ImageID }} </li>
                <li>Image Created at: {{ .ImageBuild }} </li>
                <li>From JSON report generated at: {{ .GeneratedAt }} </li>
            </ul>
        </div>




      <div class="container-fluid themed-container">
             <h5 class="display-12 fw-bold">Projects QA</h5>
             <table id="grade" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
                 <thead>
                     <tr>
                         <th>Package Name</th>
                         <th>Channel Naming</th>
                         <th>Disconnect Annotation</th>
                         <th>Scorecard </th>
                         <th>Validators</th>
                         <th>Capability level</th>
                         <th>Potently impacted by removals on K8S 1.25/1.26</th>
                         <th>SDK</th>
                         <th>Custom Scorecard Images</th>
                     </tr>
                </thead>
                <tbody>
                {{ with .PackageGrade }}
                    {{ range . }}
                         <tr>
                             <th>{{ .PackageName}}</th>
                             <th>
                                <p style="color: {{ .ChannelNamingColor}}"> {{ .ChannelNaming}} </p>
                                {{if ne .ChannelNaming "PROBABLY COMPLY"}}
                                 <div class="html" id="channel-name-show{{ .PackageName}}">
                                    <p>Following the channels names which does not comply. For further information see <a href="https://olm.operatorframework.io/docs/best-practices/channel-naming/"> Channel Naming </a> doc. </p>
                                    <ul>
                                    {{ range .ChannelNamesNotComply }}
                                        <li>{{ . }}</li>
                                    {{ end }}
                                    </ul>
                                 </div>
                                 {{ end }}
                                 {{if gt (len .ChannelNamesComply) 0}}
                                  <div class="html" id="channel-name-show{{ .PackageName}}">
                                     <p>Following the channels which probably complies: </p>
                                     <ul>
                                     {{ range .ChannelNamesComply }}
                                         <li>{{ . }}</li>
                                     {{ end }}
                                     </ul>
                                  </div>
                                  {{ end }}
                             </th>
                             <th>
                                <p style="color: {{ .DisconnectedAnnotationColor}}"> {{ .DisconnectedAnnotation }} </p>
                                 <style>
                                     #disco-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #disco-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if eq .DisconnectedAnnotation "REQUIRED"}}
                                 <a href="#disco-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="disco-show{{ .PackageName}}">
                                     <p>If the package is in <a href="https://access.redhat.com/articles/4740011"> Red Hat Operators Supported in Disconnected Mode </a> then must have the <a href="https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-generating-csvs.html#osdk-csv-manual-annotations_osdk-generating-csvs">annotation</a>. Following the head of the channels without the annotation.</p>
                                     <ul>
                                     {{ range .BundlesWithoutDisconnect }}
                                         <li>{{ . }}</li>
                                     {{ end }}
                                     </ul>
                                 </div>
                                 {{end}}
                             </th>

                             <th>
                                <p style="color: {{ .ScorecardDefaultImagesColor}}"> {{ .ScorecardDefaultImages}}</p>
                                 <style>
                                     #scorecard-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #scorecard-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if ne .ScorecardDefaultImages "PASSED IN ALL CHECKS"}}
                                 <a href="#scorecard-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="scorecard-show{{ .PackageName}}">
                                     <ul>
                                      {{ with .HeadOfChannels }}
                                       {{ range . }}
                                       </br>
                                       <p>For {{ .BundleData.BundleCSV.ObjectMeta.Name }}: <p>
                                      {{ range .BundleData.ScorecardErrors }}
                                          <li style="color: red"> {{ . }}</li>
                                      {{ end }}
                                      {{ range .BundleData.ScorecardSuggestions }}
                                          <li style="color: orange"> {{ . }}</li>
                                      {{ end }}
                                      {{ end }}
                                      {{ end }}
                                      </ul>
                                 </div>
                                 {{end}}
                             </th>
                             <th>
                                <p style="color: {{ .ValidatorsColor}}"> {{ .Validators}}</p>
                                 <style>
                                     #validators-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #validators-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if ne .Validators "PASSED IN ALL CHECKS"}}
                                 <a href="#validators-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="validators-show{{ .PackageName}}">
                                      <ul>
                                      {{ with .HeadOfChannels }}
                                      {{ range . }}
                                      </br>
                                      <p>For {{ .BundleData.BundleCSV.ObjectMeta.Name }}: <p>
                                      {{ range .BundleData.ValidatorErrors }}
                                          <li style="color: red"> {{ . }}</li>
                                      {{ end }}
                                      {{ range .BundleData.ValidatorWarnings }}
                                          <li style="color: orange"> {{ . }}</li>
                                      {{ end }}
                                      {{ end }}
                                      {{ end }}
                                      </ul>
                                 </div>
                                 {{ end }}
                             </th>
                             <th>
                                 <style>
                                     #level-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #level-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 <ul>
                                 {{ range .Capabilities}}
                                     <li> {{ . }} </li>
                                 {{ end }}
                                 </ul>

                                 {{if ne .CapabilityColor "green"}}
                                 <a style="color: {{ .CapabilityColor}}" href="#level-show{{ .PackageName }}">+info to improve</a>
                                 <div class="html" id="level-show{{ .PackageName }}">
                                    <p> Check the <a href="https://sdk.operatorframework.io/docs/overview/operator-capabilities/"> capabilities doc </a> to know how to improve it. </p>
                                 </div>
                                 {{ end }}

                             </th>
                             <th>
                             <style>
                                  #info-show{{ .PackageName}} {
                                      display: none;
                                  }

                                  #info-show{{ .PackageName}}:target {
                                      display: block;
                                  }
                              </style>
                             {{ if gt (len .DeprecateAPI) 0 }}
                                RBAC requested for the API(s):
                                <ul>
                                  {{ range .DeprecateAPI }}
                                     <li> {{ . }}</li>
                                  {{ end }}
                                </ul>
                                <a href="#info-show{{ .PackageName}}">+Info</a>
                                <div class="html" id="info-show{{ .PackageName }}">
                                {{ if gt (len .DeprecateAPI) 0 }}
                                  <p style="color: orange" > ATTENTION: See the <a href="https://kubernetes.io/docs/reference/using-api/deprecation-guide/https://kubernetes.io/docs/reference/using-api/deprecation-guide/"> guide </a> and ensure that the Operator does not uses the versions that will be removed. </p>
                                {{ end }}
                                </div>
                             {{ end }}
                             </th>
                             <th> <p style="color: {{ .SDKUsageColor}}"> {{ .SDKUsage}}</p></th>
                             <th> <p style="color: {{ .ScorecardCustomImagesColor}}"> {{ .ScorecardCustomImages}}</p></th>
                         </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
</main>

</body>
</html>
