<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Experimental Grade Dashboard</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <style>
        div.dataTables_wrapper {
            width: 98%;
            margin: 0 auto;
        }

        table.minimalistBlack {
            border: 3px solid #000000;
        }
        table.minimalistBlack td, table.minimalistBlack th {
            border: 1px solid #000000;
            font-size: 12px;
            text-align: left;
        }
        table.minimalistBlack tbody td {
            font-size: 12px;
        }
        table.minimalistBlack thead {
            border-bottom: 3px solid #000000;
            text-align: center;
        }
        table.minimalistBlack thead th {
            font-size: 15px;
            color: white;
            text-align: center;
        }

        .themed-container {
            padding: .75rem;
            margin-bottom: 1.5rem;
            background-color: #F0F0F0;
            border: 1px solid #0D0C0C;
        }
    </style>


</head>
<body class="py-4">

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script >

    $(document).ready(function() {
        $('#grade').DataTable( {
            "scrollX": true
        } );
    } );

</script>

<main>

        <h1>Experimental Grade Dashboard</h1>
        <p>Following the packages and its finding(s) obtained by checking the image and the bundle manifests distributed on it. This report aims to try to identify the packages distributions grade based on some defined criteria. Note that only the head of channels are checked which means that this report has the purpose the evaluate the latest distributions only.</p>

        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">Data from the image used</h5>
            <ul>
                <li>Image name: {{ .ImageName }} </li>
                <li>Image ID: {{ .ImageID }} </li>
                <li>Image Created at: {{ .ImageBuild }} </li>
                <li>From JSON report generated at: {{ .GeneratedAt }} </li>
            </ul>
        </div>

        <div class="container-fluid themed-container">
            <h5 class="display-12 fw-bold">FAQ</h5>
            <h5 class="display-12 fw-bold">1. What does it mean each column for a package?</h5>
            <ul>
                <li> <b>Package Name:</b> Name of the Package</li>
                <li> <b>Deprecate API(s) criteria:</b> it shows if the package is complying or not with the recommendations to not affected the users in these versions. More info see the Deprecate API(s) custom report</li>
                <li> <b>Channel Naming:</b> check if the package comply with the channel naming recommendations. More info see <a href="https://olm.operatorframework.io/docs/best-practices/channel-naming/"> Channel Naming </a> doc.</li>
                <li> <b>SDK:</b> check if the package has been built with SDK version >= 1.0.0. Note that, if the `make bundle` helper was not used to build the bundle then, will not be possible to check it. The package will not have the annotations. The operator(s) could benefit from the latest layout which uses kustomize as the helpers provided by the SDK tool to integrate your project with OLM and the latest scorecard features. It is recommended migrate your project to use the latest version. </li>
                <li> <b>Default scorecard tests:</b> checked against the default Scorecard image configuration which is added by default in the projects which are generated using SDK.</li>
                <li> <b>Validators tests:</b> check if the package is passing in the validator checks. You can do this check against the bundles by using: operator-sdk bundle validate ./bundle --select-optional suite=operatorframework. </li>
                <li> <b>Custom Scorecard Images:</b> check if the package is using custom scorecard tests.</li>
                <li> <b>Grade/Score:</b> shows the Grade and Score calculated based on these criteria.</li>
            </ul>


            <h5 class="display-12 fw-bold">2. How the score is calculated?</h5>
            <p>Following the score points for each criteria</p>
            <ul>
                <li> <b>Deprecate API(s) criteria:</b> COMPLY = +400, PARTIAL COMPLY = +200, NOT COMPLY = 0</li>
                <li> <b>Channel Naming:</b> COMPLY = +100, NOT COMPLY = 0 </li>
                <li> <b>Disconnect Annotation:</b> If USED +100</li>
                <li> <b>SDK:</b> If USED +100 </li>
                <li> <b>Default scorecard tests:</b> If PASS +200, If ONLY WARNINGS are found +100 otherwise 0</li>
                <li> <b>Validators tests:</b> If PASS +200, If ONLY WARNINGS are found +100 otherwise 0 </li>
                <li> <b>Custom Scorecard Images:</b> If USED +100 otherwise 0</li>
                <li> The max total score is: 1200 </li>
            </ul>

            <h5 class="display-12 fw-bold">3. How the grade is calculated?</h5>
            <p>Following the grade formula</p>
            <ul>
                <li> <b>GRADE A</b> >= 900</li>
                <li> <b>GRADE B</b> >= 600 && < 900 </li>
                <li> <b>GRADE C</b> >= 400 && < 600 </li>
                <li> <b>GRADE D</b> < 400 </li>
            </ul>
        </div>


      <div class="container-fluid themed-container">
             <h5 class="display-12 fw-bold">Grade </h5>
             <table id="grade" class="minimalistBlack" style="background-color: dimgrey; width: 98%">
                 <thead>
                     <tr>
                         <th>Package Name</th>
                         <th>Deprecate API(s) criteria</th>
                         <th>Channel Naming</th>
                         <th>Disconnect Annotation</th>
                         <th>SDK</th>
                         <th>Default scorecard tests</th>
                         <th>Validators tests</th>
                         <th>Custom Scorecard Images</th>
                         <th>Grade/Score</th>
                     </tr>
                </thead>
                <tbody>
                {{ with .PackageGrade }}
                    {{ range . }}
                         <tr>
                             <th>{{ .PackageName}}</th>
                             <th>
                                <p style="color: {{ .DeprecateAPIColor}}"> {{ .DeprecateAPI}} </p>
                             </th>
                             <th>
                                <p style="color: {{ .ChannelNamingColor}}"> {{ .ChannelNaming}} </p>
                                <style>
                                     #channel-name-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #channel-name-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if ne .ChannelNaming "COMPLY"}}
                                 <a href="#channel-name-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="channel-name-show{{ .PackageName}}">
                                    <p>Following the channels names which does not comply. For further information see <a href="https://olm.operatorframework.io/docs/best-practices/channel-naming/"> Channel Naming </a> doc. </p>
                                    <ul>
                                    {{ range .ChannelNamesNotComply }}
                                        <li>{{ . }}</li>
                                    {{ end }}
                                    </ul>
                                 </div>
                                 {{ end }}
                             </th>
                             <th>
                                <p style="color: {{ .DisconnectedAnnotationColor}}"> {{ .DisconnectedAnnotation }} </p>
                                 <style>
                                     #disco-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #disco-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if eq .DisconnectedAnnotation "REQUIRED"}}
                                 <a href="#disco-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="disco-show{{ .PackageName}}">
                                     <p>If the package is in <a href="https://access.redhat.com/articles/4740011"> Red Hat Operators Supported in Disconnected Mode </a> then must have the <a href="https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-generating-csvs.html#osdk-csv-manual-annotations_osdk-generating-csvs">annotation</a>. Following the head of the channels without the annotation.</p>
                                     <ul>
                                     {{ range .BundlesWithoutDisconnect }}
                                         <li>{{ . }}</li>
                                     {{ end }}
                                     </ul>
                                 </div>
                                 {{end}}
                             </th>
                             <th> <p style="color: {{ .SDKUsageColor}}"> {{ .SDKUsage}}</p></th>
                             <th>
                                <p style="color: {{ .ScorecardDefaultImagesColor}}"> {{ .ScorecardDefaultImages}}</p>
                                 <style>
                                     #scorecard-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #scorecard-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if ne .ScorecardDefaultImages "PASS"}}
                                 <a href="#scorecard-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="scorecard-show{{ .PackageName}}">
                                     <ul>
                                      {{ with .HeadOfChannels }}
                                       {{ range . }}
                                       </br>
                                       <p>For {{ .BundleData.BundleCSV.ObjectMeta.Name }}: <p>
                                      {{ range .BundleData.ScorecardErrors }}
                                          <li style="color: red"> "ERROR" {{ . }}</li>
                                      {{ end }}
                                      {{ range .BundleData.ScorecardSuggestions }}
                                          <li style="color: orange"> "WARNING" {{ . }}</li>
                                      {{ end }}
                                      {{ end }}
                                      {{ end }}
                                      </ul>
                                 </div>
                                 {{end}}
                             </th>
                             <th>
                                <p style="color: {{ .ValidatorsColor}}"> {{ .Validators}}</p>
                                 <style>
                                     #validators-show{{ .PackageName}} {
                                         display: none;
                                     }

                                     #validators-show{{ .PackageName}}:target {
                                         display: block;
                                     }
                                 </style>
                                 {{if ne .Validators "PASS"}}
                                 <a href="#validators-show{{ .PackageName}}">+Info</a>
                                 <div class="html" id="validators-show{{ .PackageName}}">
                                      <ul>
                                      {{ with .HeadOfChannels }}
                                      {{ range . }}
                                      </br>
                                      <p>For {{ .BundleData.BundleCSV.ObjectMeta.Name }}: <p>
                                      {{ range .BundleData.ValidatorErrors }}
                                          <li style="color: red"> "ERROR" {{ . }}</li>
                                      {{ end }}
                                      {{ range .BundleData.ValidatorWarnings }}
                                          <li style="color: orange"> "WARNING" {{ . }}</li>
                                      {{ end }}
                                      {{ end }}
                                      {{ end }}
                                      </ul>
                                 </div>
                                 {{ end }}
                             </th>

                             <th> <p style="color: {{ .ScorecardCustomImagesColor}}"> {{ .ScorecardCustomImages}}</p></th>
                             <th> {{ .Grade}} </br> ({{ .Score}})</th>
                         </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
</main>

</body>
</html>
